.about-container {
    position: relative; /* Nepieciešams, lai varētu pozicionēt h1 virsrakstu */
  }
  
  .about-heading {
    position: absolute; /* Pozicionē virsrakstu absolūti */
    top: 100px; /* Norādiet vēlamo attālumu no augšas */
    left: 50%; /* Centrējiet virsrakstu horizontāli */
    transform: translateX(-50%); /* Centrējiet virsrakstu horizontāli */
    z-index: 1; /* Lai virsraksts būtu virs fona attēla */
    color: white; /* Iestatiet vēlamo virsraksta krāsu */
  }
  