:root {
    --icon-color: #cdc4c4;
    --icon-hover-color: #4ce6ff;
    --icon-active-color: #56d0de;
}

.languageSelector {
    position: absolute;
    left: 130%;
    top: 20px;
}

/* Button to toggle the dropdown */
.iconButton {
    background: none;
    border: none;
    color: #fff; /* White color for the icon */
    font-size: 42px; /* Size of the icon */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dropdown menu styling */
.dropdownMenu {
    position: absolute;
    top: 100%; /* Position dropdown below the button */
    right: 0; /* Align the dropdown to the right */
    background-color: rgba(1, 0, 7, 0.58);
    border: 1px solid rgb(119, 112, 18);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 120px;
    padding: 5px 0;
}

/* Dropdown items styling */
.dropdownItem {
    background: none;
    border: none;
    color: #fff; /* White text color */
    padding: 8px 10px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.dropdownItem:hover {
    background-color: #b3ff00; /* Highlight color on hover */
    color: #01000794; /* Text color on hover */
}

/* Icon styling */
.icon {
    font-size: 26px;
}

.icon:hover {
    color: var(--icon-hover-color);
}
