:root {
    --icon-color: #cdc4c4;
    --icon-hover-color: #4ce6ff;
    --icon-active-color: #56d0de;
}

.languageSelector {
    position: relative; /* Важно для корректного позиционирования выпадающего меню */
}

.iconButton {
    background: none;
    border: none;
    color: #fff;
    font-size: 42px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(1, 0, 7, 0.58);
    border: 1px solid rgb(119, 112, 18);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 120px;
    padding: 5px 0;
}

.dropdownItem {
    background: none;
    border: none;
    color: #fff;
    padding: 8px 10px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    display: block;
    width: 100%;
}

.dropdownItem:hover {
    background-color: #b3ff00;
    color: #01000794;
}

.icon {
    font-size: 26px;
 
}

.icon:hover {
    color: var(--icon-hover-color);
}