/* LanguageSelector.module.css */

.languageSelector {
    display: flex;
    align-items: center; /* Vertikāli centrē ikonu un izvēlni */
    margin-left: auto; /* Pārvietot uz labo pusi */
    padding-right: 20px; /* Attālums no labās malas */
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(255, 254, 254); /* Ikonas krāsa */
    font-size: 20px; /* Ikonas izmērs */
    transition: color 0.3s;
}

.iconButton:hover {
    color: #b3ff00; /* Ikonas krāsa peles pārvirzot */
}

.icon {
    display: flex;
    align-items: center;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #01000794; /* Fona krāsa dropdown izvēlnei */
    border: 1px solid rgb(119, 112, 18); /* Rāmja krāsa */
    border-radius: 10px; /* Stūru noapaļojums */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Nokritiena efekts */
    z-index: 1000;
    min-width: 120px; /* Minimālais platums */
    padding: 5px 0; /* Samazināts iekšējais attālums */
}

.dropdownItem {
    background: none;
    border: none;
    color: rgb(255, 254, 254); /* Teksta krāsa */
    padding: 8px 10px; /* Samazināts iekšējais attālums */
    text-align: left;
    font-size: 14px; /* Samazināts teksta lielums */
    cursor: pointer;
    display: block;
    width: 100%;
    font-family: Poppins, sans-serif; /* Fonta ģimene */
}

.dropdownItem:hover {
    background-color: #b3ff00; /* Fona krāsa peles pārvirzot */
    color: #01000794; /* Teksta krāsa peles pārvirzot */
}
