/* Reset default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Background styles */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../assets/joanna-kosinska-1_CMoFsPfso-unsplash.jpg") rgba(0, 0, 0, 0.671);
    background-size: cover;
  }
  
  /* Form wrapper styles */
  .form-wrapper {
    background: url("../../assets/gameboy.jpg");
    width: 500px;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    border-radius: 20px;
  
  
  }
  
  
  /* Form container styles */
  .form-container {
    padding: 20px;
  
  
  
  }
  
  .form-header {
    text-align: center;
    margin: 0 auto 20px auto;
    position: relative;
    top: -130px;
    width: 30%;
  
  }
  
  .form-header h1 {
    font-size: 24px;
    color: #e4e584e1;
    border: 2px solid #b4c556;
    border-radius: 10px;
  
  }
  
  /* Input wrapper styles */
  .input-wrapper {
    position: relative;
    margin-bottom: 20px;
    background-size: cover;
  }
  
  .input-wrapper input {
    width: 63%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.5s;
    margin-left: 85px;
    margin-bottom: 30px;
    background:url("../../assets/3d-cartoon-background-children.jpg")
   
  }
  .input-wrapper:nth-child(1) {
    margin-top: -80px; /* Move the first input wrapper up by 10 pixels */
  }
  
  .input-wrapper:nth-child(2) {
    margin-top: -10px; /* Move the second input wrapper up by 10 pixels */
  }
  
  
  .input-wrapper input:focus {
    border-color: #007bff;
  }
  
  .input-wrapper label {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -15px;
    margin-left: 85px;
    transform: translateY(-50%);
    color: #339733; /* Initial color is gray */
    transition: all 0.3s, transform 0.3s;
    pointer-events: none;
  }
  
  .input-wrapper label.active {
    transform: translateY(-255%) translateX(-5px);
    color: #339733; /* or any color you prefer */
  }
  
  
  .input-wrapper input:not(:focus) + label {
    color: #339733; /* Keep color black when label is inactive */
  }
  
  
  
  /* Jump animation for labels */
  .input-wrapper input:focus + label {
    transform: translateY(-255%) translateX(-5px);
    /* Adjust translateY value to control the jump */
  }
  
  
  
  /* Submit button styles */
  .submit-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 110px;
    margin-left: 154px;
    height: 39px;
    width: 150px;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  /* Toggle text styles */
  .toggle-text {
    text-align: center;
    margin-top: 10px;
    color: #333;
  }
  
  .toggle-text span {
    color: #007bff;
    cursor: pointer;
  }
  
  .toggle-text span:hover {
    text-decoration: underline;
  }