/* Atpakaļ pogas konteiners */
.backButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center; /* Centrs horizontāli */
    margin-bottom: 20px; /* Attālums zem pogas */
}

/* Atpakaļ pogas stils */
.backButton {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px; /* Attālums virs pogas */
}

/* Atpakaļ pogas hover efekts */
.backButton:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Galvenais konteiners spēles lapai */
.gamesContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    overflow: hidden;
}

/* Konteineris fonam */
.backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Fona attēls */
.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Galvenā kartīte */
.card-wrapper {
    perspective: 4000px; /* Papildus perspektīvas dziļums */
}

.card {
    width: 400px;
    height: 400px;
    margin-left: 40px;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border: 2px solid rgba(130, 70, 250, 0.65);
    border-radius: 8px;
    box-shadow: 5px 15px 20px rgb(248, 246, 246), 10px 25px 30px rgb(0, 0, 0);
    text-align: center;
    color: #fbfbfb;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
    overflow: hidden;
    transform-style: preserve-3d; /* Saglabā 3D transformāciju */
    position: relative;
}

.card:hover {
    transform: scale(1.80); /* Pieaugt, bet ne pārāk lielā mērā */
    z-index: 10;
}

.card:hover::after {
    opacity: 1; /* Show shadow on hover */
}

/* Kartītes iekšējais teksts */
.cardContent {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Teksta stils kartītē */
.geoTitle {
    font-size: 30px;
    font-weight: bold;
}

/* Konteineris kartītēm */
.cardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

/* Konteineris vecuma grupām */
.ageGroupsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px; /* Attālums virs vecuma grupām */
    text-align: center;
}

/* Vecuma grupas kartīte */
.ageCard {
    width: 400px;
    height: 400px;
    margin-left: 40px;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border: 2px solid rgba(130, 70, 250, 0.65);
    border-radius: 8px;
    box-shadow: 5px 15px 20px rgb(248, 246, 246), 10px 25px 30px rgb(0, 0, 0);
    text-align: center;
    color: #fbfbfb;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
    overflow: hidden;
    transform-style: preserve-3d; /* Saglabā 3D transformāciju */
    position: relative;
    z-index: 1; /* Pamatā z-index */
}

/* Vecuma grupu kartītes konteiners */
.ageCardContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Vecuma grupas kartītes wrapperis */
.ageCardWrapper {
    perspective: 4000px;
}

/* Shadow efekts uz hover */
.ageCard::after {
    content: '';
    position: absolute;
    bottom: -20px; /* Adjust this value to position the shadow */
    left: 0;
    width: 100%;
    height: 50px; /* Adjust this value to control the shadow's height */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Transition for hover effect */
    pointer-events: none;
}

.ageCard:hover {
    transform: scale(1.80); /* Papildinājums ar rotāciju */
    z-index: 20;
    box-shadow: 0 30px 60px rgba(0, 0, 0, 0.4); /* Papildus ēnas efekts */
}

/* Shadow efekts uz hover */
.ageCard:hover::after {
    opacity: 1; /* Parādīt ēnu uz hover */
}

/* Vecuma grupas kartītes iekšējais teksts */
.ageCardContent {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Teksta stils vecuma grupu kartītēs */
.geoTitle {
    font-size: 24px;
    font-weight: bold;
}


/* Atpakaļ pogas konteiners */
.backButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center; /* Centrs horizontāli */
    margin-bottom: 20px; /* Attālums zem pogas */
}

/* Atpakaļ pogas stils */
.backButton {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px; /* Attālums virs pogas */
}

/* Atpakaļ pogas hover efekts */
.backButton:hover {
    background-color: rgba(255, 255, 255, 1);
}


/* Kategoriju konteiners */
.categoriesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -300px; /* Augšpusē attālums */
}

/* Kategoriju virsraksta stils */
.categoriesContainer h1 {
    font-family: Poppins, serif;
    background-color: rgba(0, 86, 179, 0.28);
    padding: 4px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 30px; /* Attālums zem virsraksta */
    position: relative; /* Lai izmantotu top un left īpašības */
    left: -88%; /* Piešķir virsrakstu kreisās malas */
    top: -90px; /* Izmanto šo, lai paceltu virsrakstu uz augšu */
}

.ageGroupsContainer h2 {
    font-family: Poppins, serif;
    background-color: rgba(0, 86, 179, 0.28);
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 30px; /* Attālums zem virsraksta */
    /* Izmantojiet kādu no šiem paņēmieniem */
    position: relative; /* Vai izmantot šo, lai paceltu h2 elementu */
    top: -400px; /* Izmantojiet šo, lai paceltu virsrakstu */
    left: -284px;

}

/* Kategoriju kartītes konteiners */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Filtra formas konteiners - izņemts, jo vairs netiks izmantots */
.filterFormContainer {
    display: none; /* Slēpt filtra formu */
}

/* Jauns paziņojuma logs */
.loginPrompt {
    position: fixed; /* Fiksēta pozicionēšana logam uz ekrāna */
    top: 50%; /* Vertikāli centrēts */
    left: 50%; /* Horizontāli centrēts */
    transform: translate(-50%, -50%); /* Centrēšana */
    background-color: rgba(255, 255, 255, 0.58); /* Fona krāsa */
    padding: 20px; /* iekšējais atstatums */
    border-radius: 10px; /* Leņķu noapaļošana */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Apmale */
    backdrop-filter: blur(10px); /* Apmales ēna */
    text-align: center; /* Teksta centrēšana */
    z-index: 2; /* Virs citiem elementiem */
}

/* Paziņojuma loga teksta stils */
.loginPrompt p {
    margin-bottom: 20px; /* Atstarps starp tekstu un pogu */
}

/* Teksta stils brīdinājumam */
.logWarning {
    font-size: large; /* Fonta izmērs */
    color: #000000; /* Teksta krāsa */
}

/* Stils pogai paziņojuma logā */
.loginPrompt button {
    margin-left: 10px;
    padding: 10px 25px; /* iekšējais atstatums */
    background-color: #007bff; /* Pogas fons */
    color: white; /* Teksta krāsa */
    border: none; /* Bez malas */
    border-radius: 5px; /* Leņķu noapaļošana */
    cursor: pointer; /* Rādītājs uz pogas */
}

/* Hover efekts pogai paziņojuma logā */
.loginPrompt button:hover {
    background-color: #0056b3; /* Tumšāks fona krāsa */
}

/* games.module.css */

/* Pievieno “Add New Game” pogu */
.addGameButton {
    background-color: #4CAF50; /* Zaļš */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.addGameButton:hover {
    background-color: #45a049; /* Tumšāks zaļš */
}

/* Modalitātes stili */
.addGameModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
}

/* Forma */
.formGroup {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

button + button {
    background-color: #f44336;
}

button + button:hover {
    background-color: #e53935;
}
