/* Galvenais konteiners spēles lapai */
.gamesContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    overflow: hidden;
}

/* Konteineris fonam */
.backgroundContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Fona attēls */
.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Galvenā kartīte */
.card-wrapper {
    perspective: 4000px; /* Papildus perspektīvas dziļums */
}

.card {
    width: 400px;
    height: 400px;
    margin-left: 40px;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border: 2px solid rgba(130, 70, 250, 0.65);
    border-radius: 8px;
    box-shadow: 5px 15px 20px rgb(248, 246, 246), 10px 25px 30px rgb(0, 0, 0);
    text-align: center;
    color: #fbfbfb;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
    overflow: hidden;
    transform-style: preserve-3d; /* Saglabā 3D transformāciju */
    position: relative;
}

.card::after {
    content: '';
    position: absolute;
    bottom: -20px; /* Adjust this value to position the shadow */
    left: 0;
    width: 100%;
    height: 50px; /* Adjust this value to control the shadow's height */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Transition for hover effect */
    pointer-events: none;
}

.card:hover {
    transform: scale(1.05); /* Pieaugt, bet ne pārāk lielā mērā */
    z-index: 10;
}

.card:hover::after {
    opacity: 1; /* Show shadow on hover */
}

/* Kartītes iekšējais teksts */
.cardContent {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Teksta stils kartītē */
.geoTitle {
    font-size: 30px;
    font-weight: bold;
}

/* Konteineris kartītēm */
.cardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

/* Konteineris jautājumiem */
.questionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Atpakaļ poga */
.backButton {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Atpakaļ pogas hover efekts */
.backButton:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Jautājumu karte */
.questionCard {
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

/* Jautājuma saturs */
.questionContent {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
}

/* Jautājuma attēlojums */
.questionDisplay {
    display: flex;
    align-items: center;
}

/* Navigācijas pogas */
.navButton {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

/* Navigācijas pogas hover efekts */
.navButton:hover {
    color: rgba(255, 255, 255, 0.7);
}

/* Pozicionēšana navigācijas pogām */
.prev {
    margin-right: 20px;
}

.next {
    margin-left: 20px;
}

/* Jauns paziņojuma logs */
.loginPrompt {
    position: fixed; /* Fiksēta pozicionēšana logam uz ekrāna */
    top: 50%; /* Vertikāli centrēts */
    left: 50%; /* Horizontāli centrēts */
    transform: translate(-50%, -50%); /* Centrēšana */
    background-color: rgba(255, 255, 255, 0.58); /* Fona krāsa */
    padding: 20px; /* iekšējais atstatums */
    border-radius: 10px; /* Leņķu noapaļošana */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Apmales ēna */
    text-align: center; /* Teksta centrēšana */
    z-index: 2; /* Virs citiem elementiem */
}

/* Paziņojuma loga teksta stils */
.loginPrompt p {
    margin-bottom: 20px; /* Atstatums starp tekstu un pogu */
}

/* Teksta stils brīdinājumam */
.logWarning {
    font-size: large; /* Fonta izmērs */
    color: #000000; /* Teksta krāsa */
}

/* Stils pogai paziņojuma logā */
.loginPrompt button {
    margin-left: 10px;
    padding: 10px 25px; /* iekšējais atstatums */
    background-color: #007bff; /* Pogas fons */
    color: white; /* Teksta krāsa */
    border: none; /* Bez malas */
    border-radius: 5px; /* Leņķu noapaļošana */
    cursor: pointer; /* Rādītājs uz pogas */
}

/* Hover efekts pogai paziņojuma logā */
.loginPrompt button:hover {
    background-color: #0056b3; /* Tumšāks fona krāsa */
}

/* Kategoriju konteiners */
.categoriesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -300px; /* Augšpusē attālums */
}

/* Kategoriju virsraksta stils */
.categoriesContainer h1 {
    font-family: Poppins, serif;
    background-color: #6209f0;
    padding: 5px;
    border-radius: 10px;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 150px; /* Apakšpusē attālums */
}

/* Kategoriju kartītes konteiners */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.filterFormContainer {
    text-align: center;
    background: rgba(245, 245, 220, 0.73);
    position: absolute;
    height: auto; /* Atstājiet automātiski pielāgojamu */
    width: 500px;
    border-radius: 20px;
    padding: 20px; /* Pievienota atstarpe iekšpusē */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Neliela ēna ap formu */
}

.backButton {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 40px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.backButton:hover {
    background-color: #0056b3;
}

.categoryHeader {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600; /* Uzsvērts fonts */
    margin-bottom: 20px; /* Atstarpe zem virsraksta */
}

.filterGroup {
    padding: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

/* Noņem izvēlņu pelēko noformējumu */
select {
    background: #fff;
    color: #333;
    appearance: none;
   background-color: beige;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 8px;
}

/* Select elementu atbalsta hover un fokusa stili */
select:hover,
select:focus {
    border-color: #007bff;
    outline: none;
}

button[type="submit"],
button {
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.upperLabel {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #000000;
}