
.homeContainer {
    position: absolute;
    background: url('../../assets/home/homepage.jpg') no-repeat center center fixed; /* Fona attēls, centrēts un fiksēts */
    background-size: cover; /* Attēls pielāgojas konteinerim */
    width: 100%;
    height: 100%; /* Pārklāj visu ekrāna augstumu */
    overflow: hidden; /* Novērš skrollbārus */
    top: 0; /* Novieto konteineru zem navigācijas joslas */
    left: 0; /* Nodrošina, ka konteineris ir piespiests pie kreisās malas */
    right: 0; /* Nodrošina, ka konteineris ir piespiests pie labās malas */
    bottom: 0; /* Nodrošina, ka konteineris ir piespiests pie apakšējās malas */
    z-index: -1; /* Nodrošina, ka konteiners paliek zem navigācijas joslas */
}
