:local(*):local {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:local(body):local {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #151F28;
}

:local(.main):local {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
}

:local(.navigation):local {
    position: relative;
    width: 70px;  /* Initial width 70x70px */
    height: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

:local(.dot):local {
    position: absolute;
    width: 10px;  /* Dot size */
    height: 10px;
    background: #000;  /* Black dots */
    transform: translate(calc(20px * var(--x)), calc(20px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s * var(--i));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

:local(.navigation.active):local {
    width: 200px;  /* Expanded width 200x200px */
    height: 200px;
}

:local(.navigation.active .dot):local {
    width: 45px;  /* Icon size */
    height: 45px;
    background: #37384f;
    transform: translate(calc(90px * var(--x)), calc(90px * var(--y)));
    opacity: 0; /* Initially invisible */
}

:local(.dot ion-icon):local {
    transition: 0.5s;
    font-size: 0em;
    color: #fff;
}

:local(.navigation.active .dot ion-icon):local {
    font-size: 1.35em;
}

:local(.navigation.active .dot:hover ion-icon):local {
    color: #2dfc52;
    filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52)
    drop-shadow(0 0 15px #2dfc52);
}

:local(.close):local {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    transition: 0.5s;
    transition-delay: 0.4s;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

:local(.navigation.active ~ .close):local {
    width: 40px;
    height: 40px;
    pointer-events: initial;
    transition-delay: 0.8s;
    background: #2dfc52;
}

:local(.close ion-icon):local {
    font-size: 2em;
    scale: 0;
    color: #10131c;
    transition: 0.5s;
}

:local(.navigation.active ~ .close ion-icon):local {
    scale: 1;
    transition-delay: 1s;
}

@keyframes fadeToIcon {
    0% {
        background: #000;
        opacity: 1;
        transform: scale(1);
    }
    100% {
        background: #ffffff;
        opacity: 0;
        transform: scale(0);
    }
}

:local(.dotActive):local {
    animation: fadeToIcon 0.5s ease-out forwards;
}
