@import url('https://fonts.googleapis.com/css2?family=Sevillana:wght@400&display=swap');

.sevillanaRegular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh; /* Occupies the full viewport height */
  position: relative;
}

.backgroundContainer {
  position: absolute;
    top: -13%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Nodrošina, ka backgroundImage ir aiz satura */
}

.backgroundContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.registerForm h2 {
  font-family: 'Sevillana', cursive;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.863);
}

.registerForm {
  position: absolute;
  left: 1110px;
  top: 8%;
  width: 337px;
  padding: 20px;
  background-color: rgba(244, 244, 244, 0.8);
  border-radius: 8px;
  box-shadow: 0 10px 15px rgb(0, 0, 0);
  box-sizing: border-box; /* Nodrošina, ka padding un border tiek iekļauti platumā */
}

.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.849);
  font-size: small;
}

input[type='text'],
input[type='email'],
input[type='number'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Nodrošina, ka padding un border tiek iekļauti platumā */
}

.formGroup select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Nodrošina, ka padding un border tiek iekļauti platumā */
}

.registerBtn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerBtn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

.registerLink {
  margin-top: 150px;
  color: white;
}

.registerLink a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 2px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.registerLink a:hover {
  color: #5bd13a;
}
