/* Stilizē galveno konteineri, kurā atrodas reģistrācijas forma */
.register-container {
  display: flex; /* Izvēlas "flex" izkārtojumu, lai elementi būtu vienā līnijā */
  justify-content: center; /* Centrē elementus horizontāli */
  flex-direction: column; /* Novieto ielogošanās formu un reģistrācijas saiti vertikāli */
  align-items: center; /* Centrē elementus vertikāli */
  height: 100vh; /* Iestata konteineri, lai aizņemtu visu ekrāna augstumu */
  margin-left: -55px;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Lai fona attēls būtu aiz pārējā satura */
}

.background-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Stilizē reģistrācijas formu */
.register-form {
  width: 300px; /* Iestata reģistrācijas formas platumu */
  padding: 20px; /* Pievieno iekšējo atstarpju reģistrācijas formai */
  background-color: #f4f4f4; /* Iestata fona krāsu reģistrācijas formai */
  border-radius: 8px; /* Iestata reģistrācijas formas ierobežojuma radiusu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Pievieno ēnas efektu reģistrācijas formai */
}

/* Stilizē reģistrācijas formas virsrakstu */
.register-form h2 {
  margin-bottom: 20px; /* Pievieno atstarpi apakšējai malai starp virsrakstu un reģistrācijas formu */
  text-align: center; /* Centrē virsrakstu horizontāli */
  color: rgba(0, 0, 0, 0.863);
}

/* Stilizē reģistrācijas formas ievades laukus */
.form-group {
  margin-bottom: 20px; /* Pievieno atstarpi starp laukiem */
}

label {
  display: block; /* Padara label elementu par bloka elementu */
  margin-bottom: 5px; /* Pievieno nelielu atstarpi starp label un ievades lauku */
  color: rgba(0, 0, 0, 0.849);
  font-size: small;
}

input[type='text'],
input[type='email'] {
  width: 100%; /* Piepilda lauka platuma 100% no tā vecāka elementa */
  padding: 10px; /* Pievieno laukam iekšējo atstarpju */
  border: 1px solid #ccc; /* Iestata lauka apmales stilu un krāsu */
  border-radius: 4px; /* Iestata lauka ierobežojuma radiusu */
}

/* Stilizē reģistrācijas formas iesniegšanas pogu */
.register-btn {
  width: 100%; /* Piepilda pogas platumu 100% no tā vecāka elementa */
  padding: 10px; /* Pievieno pogai iekšējo atstarpju */
  background-color: #007bff; /* Iestata pogas fona krāsu */
  color: #fff; /* Iestata teksta krāsu pogā */
  border: none; /* Noņem pogas apmales */
  border-radius: 4px; /* Iestata pogas ierobežojuma radiusu */
  cursor: pointer; /* Iestata kursora stāvokli par parādīšanu, kad pārslēdzas uz pogu */
  transition: background-color 0.3s ease; /* Iestata pārejas efektu poga, kad pārslēdzas uz hover stāvokli */
}

.register-btn:hover {
  background-color: #0056b3; /* Maina fona krāsu uz tumšāku hover stāvoklī */
}
