@import url('https://fonts.googleapis.com/css2?family=Sevillana:wght@400&display=swap');


.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

.backgroundContainer {
  position: absolute;
  top: -13%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.backgroundContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.registerForm h2 {
  font-family: "Lobster", sans-serif !important;
  font-weight: 500 !important;
  font-size: 2rem !important;
  margin-bottom: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.863);
}

.registerForm {
  width: 90%;
  max-width: 400px; /* Sets a maximum width for the form */
  padding: 20px;
  background-color: rgba(244, 244, 244, 0.8);
  border-radius: 8px;
  box-shadow: 0 10px 15px rgb(0, 0, 0);
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  text-align: center;
  margin: auto; /* Centers the form horizontally */
}

.formGroup {
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.849);
  font-size: small;
}

input[type='text'],
input[type='email'],
input[type='number'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.formGroup select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.registerBtn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerBtn:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

.registerLink {
  margin-top: 20px;
  color: #ee3f3f;
}

.registerLink a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 2px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
}

.registerLink a:hover {
  color: #5bd13a;
}

/* Media Queries for Responsiveness */

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .registerForm h2 {
    font-size: 1.5rem;
  }

  .registerLink {
    margin-top: 50px;
  }
}

/* Medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .registerForm h2 {
    font-size: 1.75rem;
  }

  .registerLink {
    margin-top: 80px;
  }
}

/* Large devices (desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  .registerForm h2 {
    font-size: 2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .registerForm {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) {
  .registerForm {
    font-size: 2rem;
    margin-top: -50px;
  }
}
/* Large devices (desktops, 768px and up) */
@media only screen and (min-width: 768px) {
  .registerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}