@import url('https://fonts.googleapis.com/css2?family=Sevillana:wght@400&display=swap');

.sevillanaRegular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh; /* Occupies the full viewport height */
    position: relative;
}

/* Fons, kas aizsedz visu ekrānu */
.backgroundContainer {
    position: absolute;
    top: -13%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Nodrošina, ka backgroundImage ir aiz satura */
}

/* Fona attēls, kas pārklāj visu konteineru */
.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Ielogošanās forma */
.loginForm {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginForm h2 {
    font-family: 'Sevillana', cursive;
    font-size: 2rem;
    
}

/* Formas grupas */
.formGroup {
    margin-bottom: 20px;
    width: 100%;

}

/* Stils pogai */
.loginBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Input lauku stils */
input[type='email']{

    width: calc(100% - 20px); /* Ņemot vērā padding */
    padding: 10px;
    border: 1px solid rgba(18, 82, 223, 0.63);
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(18, 82, 223, 0.2);
}

input[type='password'] {
    width: calc(100% - 20px); /* Ņemot vērā padding */
    padding: 10px;
    border: 1px solid rgba(18, 82, 223, 0.63);
    border-radius: 4px;
    box-shadow: inset 0 0 5px rgba(18, 82, 223, 0.2);
}
/* Pogas hover efekts */
.loginBtn:hover {
    background-color: #0056b3;
}

/* Reģistrācijas saites stils */
.registerLink {
    margin-top: 10px;
    padding: 5px;
    color: #000;
    text-align: center;
}

.registerLink p {
    margin: 0;
}

.registerLink a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Hover efekts reģistrācijas saitei */
.registerLink a:hover {
    color: #0056b3;
}

/* Kļūdu ziņojumu stils */
.error {
    color: red;
    margin-top: 10px;
}
